/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-top: 10px;
    ;
    font-size: 30px;
}

.text-white {
    color: #fff !important;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center !important;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-triple {
    width: 33.333%;
}

.col-double {
    width: 50%;
}

.col-full {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 12px 16px;
    display: inline-block;
    margin: 15px 0px 15px;
}

.btn:hover {
    color: #000;
    background-color: #fff;
    animation-delay: 300ms;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {}

#nav .subnav li:hover a,
#nav>li:hover>a {
    display: block;
    color: #000;
    background-color: #ccc;
    width: 100%;
}

#nav li {
    position: relative;
}

#nav li a {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav>li>a {
    text-transform: uppercase;
}

#nav>li {
    display: inline-block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    list-style-type: none;
    box-shadow: 0 0 10px rgb(0.2, 0.3, 0.2);
    top: 48px;
    padding: 0 40px;
}

#nav .subnav a {
    padding: 0 8px;
    line-height: 38px;
    color: black;
}

#nav li:hover .subnav {
    display: block;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .nav__mobile,
#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 14px;
    margin-right: 20px;
}

#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}

#header .nav__mobile,
#header .search-icon {
    color: white;
    font-size: 22px;
    line-height: 46px;
    position: absolute;
    top: 0;
    right: 0;
}

#header .nav__mobile:hover,
#header .search-btn:hover {
    background-color: #ccc;
    color: #000;
}

#slider {
    position: relative;
    margin-top: 46px;
    color: #000;
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3images/chicago.jpg) top center /cover no-repeat;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 48px;
    padding: 16 32px;
    left: 50%;
    transform: translateX(-50%);
}

#slider .text-heading {
    margin: 10px 0px;
    font-size: 25px;
    font-weight: 500px;
}

#slider .text-description {
    font-size: 15px;
}

.content-section {
    padding: 64px 16px 112px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

#content .section-heading {
    font-size: 30 px;
    text-align: center;
    letter-spacing: 8px;
    font-weight: 500px;
}

#content .section-subheading {
    font-size: 15 px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin-top: 25px;
    margin-bottom: 25px;
}

#content .about-text {
    font-size: 15 px;
    text-align: justify;
    margin-top: 15px;
}

#content .member-list {
    margin-top: 32px;
    font-size: 15px;
}

#content .member-name {
    margin-bot: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
}

#content .clear {
    clear: both;
}

.tour-section {
    background-color: #000;
    padding-top: 64px;
    text-decoration: none;
}

.month-list {
    margin: 0 64px;
    background-color: #fff;
    list-style: none;
}

* {
    text-decoration: none;
}

.month-list li {
    font-size: 16px;
    padding: 8px 16px;
    color: #757575;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.month-list .sold-out {
    background-color: red;
    padding: 3px 4px;
    color: #fff;
    margin-left: 16px;
}

.month-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
}

.place-img {
    width: 100%;
    display: flex;
}

.place-img:hover {
    opacity: 0.6;
}

.section-placelist {
    margin: 24px 55px;
    display: flex;
}

.place-content {
    padding: 8px 16px 0px;
    font-size: 15px;
    background-color: #fff;
    font-weight: 500px;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin: 15px 0px;
    opacity: 0.6;
}

.contact-section {
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.contact-info {
    font-size: 18px;
    line-height: 2px;
}

.contact-info a {
    opacity: 0.6;
    color: rgb(79, 79, 206);
}

.contact-info a:hover {
    opacity: 1;
}

.contact-info i[class*="ti-"] {
    display: inline-block;
}

.contact-form .form-control {
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.footer-container {
    text-align: center;
    margin: 0px auto;
    padding: 64px 16px;
    font-size: 24px;
    color: gray;
    text-align: center;
}

.copyright {
    text-align: center;
}

.footer-container a:hover,
.copyright:hover {
    opacity: 0.8;
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    color: #333;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    height: 130px;
    font-size: 30px;
    color: #fff;
}

.modal-body {
    padding: 16px;
    max-width: calc(100% - 32px);
}

.modal-heading-icon {
    margin: right;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 12px;
    opacity: 0.8;
}

.modal-close:hover {
    opacity: 1;
}

.modal-label {
    display: block;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    padding: 8px;
    width: 100%;
    margin-bottom: 24px;
}

.modal #buy-tickets {
    border: none;
    background-color: #009688;
    width: 100%;
    padding: 18px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.modal-help {
    text-align: right;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}